@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  .menu {
    background-color: transparent;
    cursor: pointer;
    display: flex;
  }
  .line {
    fill: none;
    stroke: white;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  #active {
    border: solid 2px white;
    background-color: white;
    color: #1F2020;
    opacity: 1;
  }
  #active:hover {
    opacity: 0.8;
  }
  .gradient-thingy {
    background: linear-gradient(
        to right,
        #E03BE3 20%,
        #00fcfc 40%,
        #9345c0 60%,
        #E03BE3 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite;
}
.gradient-link {
  color:white;
  background-image:linear-gradient(to left, white, white 33.33333%, #9345c0 66.66666%, #E03BE3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 100%;
  background-position: top right;
  transition:all 0.3s ease-in-out;
}
.gradient-link:hover {
  background-position: top right 100%;
}
.gradient-link:hover::after {
  background-position: bottom left;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: linear-gradient(
      to right,
      #E03BE3 20%,
      #9345c0 60%
  );
}
.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(
      to right,
      #E03BE3 20%,
      #9345c0 60%
  );
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}